.login{
    font-size: 60px;
    background-color: #9E2A84;
    border: solid 2px;
    color:#D6A5D7;
    font-style: italic;
    padding: 10px;
    border-radius: 30px;
}

.Download{

    font-size: 60px;
    background-color: #EA1E1E;
    border: double 5px;
    color: wheat;
    font-style: oblique;
    padding: 10px;
    border-radius: 50px;
    }